@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");

* {
  box-sizing: border-box;
  padding: initial;
  margin: initial;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  background-color: rgb(80, 167, 80);
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.1rem 0.4em;
  margin-left: 0.5rem;
}

main.wrapper {
  max-width: 1300px;
  margin: auto;
}

/* Header */
.hero {
  background: linear-gradient(#3ab6bf5e, #1a5271c7),
    url("../images/hero.jpg") no-repeat top right;
  background-size: cover;
  color: #fff;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
  width: 50%; /* I put this */
  text-shadow: 2px 2px 5px #1a5271;
  margin-right: 30px;
}

.hero p {
  font-size: 1.25rem;
  font-weight: 200;
  text-shadow: 2px 2px 5px #1a5271;
}

.hero a {
  font-size: 1rem;
}

/* Stories */

.stories {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.stories article {
  border: 1px solid red;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.stories figure {
  display: grid;
  grid-template-rows: 200px 50px;
  /* figspan eats into total of 250px  row height, it is merged */
}

.stories img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 250px;
  /* to match above */
}

.stories figcaption {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.stories figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.stories p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

/* Footer */

footer {
  background-color: #333;
  padding: 0.75rem;
  color: wheat;
  text-align: center;
  margin-bottom: 1rem;
}

/* Media Query */

@media screen and (min-width: 800px) {
  .hero {
    background-position: center center;
    padding: 4em 2em;
    display: flex;
  }
}
